@{
    ViewBag.Title = "Decrypt";
    List<string> files = new List<string>();
    string folderPath = Server.MapPath("~/Files");
    string[] filePaths = Directory.GetFiles(folderPath, "*.txt");
    List<string> CollectionFileNames = new List<string>();
    for (int i = 0; i < filePaths.Length; i++)
    {
        CollectionFileNames.Add(Path.GetFileName(filePaths[i]));
    }

    char[] delimiterChar = { ',' };

    var chooseFile = Server.MapPath("~/Files/decrypt.txt");

    var result = "";
    int isReady = 0;
    Array userData1 = null;
    Array userData_OUT = null;
    var goodFile = Server.MapPath("~/Files/decrypt_out.txt");
    string crypty = "";

    if (File.Exists(chooseFile))
    {
        userData1 = File.ReadAllLines(chooseFile);
        if (userData1 == null)
        {
            // Empty file.
            result = "Файл загружен, но он пуст.";
            isReady = 1;
        }
        else
        {
            result = "Файл готов к дешифровке!";
            isReady = 2;
        }
    }
    else
    {
        // File does not exist.
        result = "Файла не существует.";
        isReady = 0;
    }

    if (File.Exists(goodFile))
    {
        userData_OUT = File.ReadAllLines(goodFile);
        if (userData_OUT == null)
        {
            // Empty file.
            crypty = "Файл пуст.";
        }
        else
        {
        }
    }
    else
    {
        // File does not exist.
        crypty = "Файл еще не готов!";
    }

}

<br />
<strong>
    <img src="~/Images/unlocked data.PNG" width="40" height="45" />Дешифровка txt файла
</strong>
<hr />
<h4>Загрузите файл формата <font color="red">txt</font> для дешифрования информации в нем</h4>

@using (Html.BeginForm("DeUpload", "DecrTxt", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="deupload" />
    <br>
    <input type="submit" value="Загрузить" />
}
<h4>------------------------------------------------------------------------------------------------------------</h4>
@{
    if (isReady == 2)
    {
        <h5>
            <label>
                <img src="~/Images/ok.PNG" width="38" height="41" /> @result
            </label>
        </h5>
    }
    else if (isReady == 1)
    {
        <h5>
            <label>
                <img src="~/Images/empty.PNG" width="38" height="41" />@result , но он пуст
            </label>
        </h5>
    }
    else
    {
        <h5>
            <label>
                <img src="~/Images/false.PNG" width="38" height="41" /> Файл не загружен. Просьба его загрузить!
            </label>
        </h5>
    }
}


<html>
<head>
    <title>Reading Data from a File</title>
    <style>
        .box1 {
            background: #f0f0f0; /* Цвет фона */
            width: 1140px; /* Ширина блока */
            padding: 10px; /* Поля */
            border: 2px solid #000; /* Параметры рамки */
        }
    </style>
</head>
<body>
    <div>


        @if (isReady == 2)
        {
            <details>
                <summary>Текст файла</summary>
                <div class="box1">
                    @foreach (string dataLine in userData1)
                    {

                        foreach (string dataItem in dataLine.Split(delimiterChar))
                        {
                            @dataItem
                        }


                    }
                </div>
            </details>
        }

    </div>
</body>
</html>

@using (Html.BeginForm("Decrypting", "DecrTxt", FormMethod.Post))
{
    if (isReady == 2)
    {
        <h4>------------------------------------------------------------------------------------------------------------</h4>
        <h5>Введите ключ:</h5>
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <!-- атрибут name такой же как в контроллере у метода параметр -->
            <input type="text" name="key_decrypt_txt" id="ls" />

        </div>
        <br>
        <button type="submit" runat="server" id="btnLogin">Расшифровать!</button>

        if (crypty == "")
        {

            <html>
            <head>
                <title>Reading Data from a File</title>
                <style>
                    .box1 {
                        background: #f0f0f0; /* Цвет фона */
                        width: 1140px; /* Ширина блока */
                        padding: 10px; /* Поля */
                        border: 2px solid #000; /* Параметры рамки */
                    }
                </style>
            </head>
            <body>
                <div>

                    @crypty
                    @if (crypty == "")
                    {
                        <h4>------------------------------------------------------------------------------------------------------------</h4>
                        <details>
                            <summary>Текст в дешифрованном виде: </summary>
                            <div class="box1">
                                @foreach (string dataLine in userData_OUT)
                                {

                                    foreach (string dataItem in dataLine.Split(delimiterChar))
                                    {
                                        @dataItem
                                    }


                                }
                            </div>
                        </details>
                    }

                </div>
            </body>
        </html>

    }
}
}

@using (Html.BeginForm("DeDownload", "DecrTxt"))
{
    if (crypty == "" && isReady == 2)
    {
        <h4>------------------------------------------------------------------------------------------------------------</h4>
        <h4>Файл забрать ниже ↓</h4>
        <input type="submit" value="Скачать" />
    }
    else
    {

    }
}


