
@{

    ViewBag.Title = "CategoryChosen";

    Layout = "~/Views/Shared/_Layout.cshtml";


}

@if (TempData["testmsg"] != null)
{
    @Html.Raw(TempData["testmsg"])
}

<html>
<head>
    <title>DOWNLOAD </title>

</head>
<body>
    <div>

        <h1>Вы нажали: </h1>
        



    </div>
</body>
</html>