<html>
<head>
    <title>Reading Data from a File</title>
    <style>
        .box1 {
            background: #f0f0f0; /* Цвет фона */
            width: 1140px; /* Ширина блока */
            padding: 10px; /* Поля */
            border: 2px solid #000; /* Параметры рамки */
        }
    </style>
</head>
<body>
    <div>
        <CENTER>Эбаут</CENTER>
        <hr width='60%' size=6'>
    </div>

</body>
</html>