
@{
    ViewBag.Title = "Crypt";

    var text = "";
    Array userData = null;
    var result = "";
    int isReady = 0;
    Array userData_OUT = null;

    char[] delimiterChar = { ',' };

    var dataFile = Server.MapPath("~/Files/encrypt.txt");
    var goodFile = Server.MapPath("~/Files/encrypt_out.txt");
    string crypty = "";

    if (File.Exists(dataFile))
    {
        userData = File.ReadAllLines(dataFile);
        if (userData == null)
        {
            // Empty file.
            text = "Файл пуст.";
            result = "Файл загружен, но он пуст.";
            isReady = 1;

        }
        else
        {
            result = "Файл готов к шифрованию!";
            isReady = 2;
        }
    }
    else
    {
        // File does not exist.
        text = " ";
        result = "Файла не существует.";
        isReady = 0;
    }

    if (File.Exists(goodFile))
    {
        userData_OUT = File.ReadAllLines(goodFile);
        if (userData_OUT == null)
        {
            // Empty file.
            crypty = "Файл пуст.";

        }
        else
        {
        }
    }
    else
    {
        // File does not exist.
        crypty = "Файл еще не готов!";

    }
}

<br />
<strong>
    <img src="~/Images/locked data.PNG" width="40" height="45"/>Шифровка txt файла
</strong>
<hr />
<h4>Загрузите файл формата <font color="red">txt</font> для шифрования информации в нем</h4>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="upload" />
    <br>
    <input type="submit" value="Загрузить" />

}

<h4>------------------------------------------------------------------------------------------------------------</h4>

@{
    if (isReady == 2)
    {
        <h5>
            <label>
                <img src="~/Images/ok.PNG" width="38" height="41" /> @result
            </label>
        </h5>
    }
    else if (isReady == 1)
    {
        <h5>
            <label>
                <img src="~/Images/empty.PNG" width="38" height="41" />@result , но он пуст
            </label>
        </h5>
    }
    else
    {
        <h5>
            <label>
                <img src="~/Images/false.PNG" width="38" height="41" /> Файл не загружен. Просьба его загрузить!
            </label>
        </h5>
    }
}

<html>
<head>
    <title>Reading Data from a File</title>
    <style>
        .box1 {
            background: #f0f0f0; /* Цвет фона */
            width: 1140px; /* Ширина блока */
            padding: 10px; /* Поля */
            border: 2px solid #000; /* Параметры рамки */
        }
    </style>
</head>
<body>
    <div>
        @text
        @if (text == "")
        {
            <details>
                <summary>Исходный текст:</summary>
                <div class="box1">
                    @foreach (string dataLine in userData)
                    {
                        foreach (string dataItem in dataLine.Split(delimiterChar))
                        {
                            @dataItem
                        }
                    }
                </div>
            </details>
        }
    </div>
</body>
</html>

@using (Html.BeginForm("Encrypting", "Home", FormMethod.Post))
{
    if (isReady == 2)
    {
        <h4>------------------------------------------------------------------------------------------------------------</h4>
        <h5>Введите ключ:</h5>
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <!-- атрибут name такой же как в контроллере у метода параметр -->
        <input type="text" name="key_crypt_txt" id="ls" />
        </div>
        <br>
        <button type="submit" runat="server" id="btnLogin">Зашифровать!</button>
        //Response.Write("<script>alert('Успешно зашифрован!')</script>");
        <br />
        if (crypty == "")
        {

            <html>
            <head>
                <title>Reading Data from a File</title>
                <style>
                    .box1 {
                        background: #f0f0f0; /* Цвет фона */
                        width: 1140px; /* Ширина блока */
                        padding: 10px; /* Поля */
                        border: 2px solid #000; /* Параметры рамки */
                    }
                </style>
            </head>
            <body>
                <div>
                    @crypty
                    @if (crypty == "")
                    {
                        <h4>------------------------------------------------------------------------------------------------------------</h4>
                        <details>
                            <summary>Текст в зашифрованном виде: </summary>
                            <div class="box1">
                                @foreach (string dataLine in userData_OUT)
                                {

                                    foreach (string dataItem in dataLine.Split(delimiterChar))
                                    {
                                        @dataItem
                                    }


                                }
                            </div>
                        </details>
                    }
                </div>
            </body>
        </html>
    }
}
else
{

}

}

@using (Html.BeginForm("Download", "Home"))
{
    if (crypty == "" && isReady == 2)
    {   
        <h4>Файл забрать ниже ↓</h4>
        <input type="submit" value="Скачать" />
    }
    else
    {

    }

}

