
@{
    ViewBag.Title = "DecryptWORD";
    string qwert = WebApplication5.Controllers.HomeController.dewordtxt;
    string qwert_out = WebApplication5.Controllers.HomeController.dewordtxt_out;
    var text = "";
    Array userData = null;
    var result = "";
    int isReady = 0;
    int IsReadyOut = 0;
    Array userData_OUT = null;

    char[] delimiterChar = { ',' };

    var dataFile = Server.MapPath("~/Files/decrypt_word.docx");
    var goodFile = Server.MapPath("~/Files/decrypt_word_out.docx");
    string crypty = "";



    if (File.Exists(dataFile))
    {
        isReady = 2;
        result = "Файл готов к шифрованию!";
    }
    else
    {
        // File does not exist.
        result = "Файла не существует.";
    }

    if (File.Exists(goodFile))
    {
        IsReadyOut = 2;
    }
    else
    {
        // File does not exist.
        crypty = "Файл еще не готов!";

    }

}


<br />
<strong>  <img src="~/Images/unlocked data.PNG" width="40" height="45" />Дешифровка docx файла</strong>
<hr />
<h4>Загрузите файл формата <font color="red">docx</font> для дешифрования информации в нем</h4>

@using (Html.BeginForm("DeUploadWORD", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="deuploadword" />
    <br>
    <input type="submit" value="Загрузить" />

}

<h4>------------------------------------------------------------------------------------------------------------</h4>

@{
    if (isReady == 2)
    {
        <h5>
            <label>
                <img src="~/Images/ok.PNG" width="38" height="41" /> @result
            </label>
        </h5>


    }

    else
    {
        <h5>
            <label>
                <img src="~/Images/false.PNG" width="38" height="41" /> Файл не загружен. Просьба его загрузить!
            </label>
        </h5>
    }
}


<html>
<head>
    <title>Reading Data from a File</title>
    <style>
        .box1 {
            background: #f0f0f0; /* Цвет фона */
            width: 1140px; /* Ширина блока */
            padding: 10px; /* Поля */
            border: 2px solid #000; /* Параметры рамки */
        }
    </style>
</head>
<body>
    <div>

        @if (isReady == 2)
        {
            <details>
                <summary>Исходный текст:</summary>
                <div class="box1">
                    @qwert
                </div>
            </details>
        }

    </div>
</body>
</html>

@using (Html.BeginForm("DecryptingWord", "Home", FormMethod.Post))
{
    if (isReady == 2)
    {

        <h4>------------------------------------------------------------------------------------------------------------</h4>
        <h5>Введите ключ:</h5>
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <!-- атрибут name такой же как в контроллере у метода параметр -->
            <input type="text" name="key_decrypt_word" id="ls" />

        </div>
        <br>
        <button type="submit" runat="server" id="btnLogin">Зашифровать!</button>
        //Response.Write("<script>alert('Успешно зашифрован!')</script>");

        <br />

        if (crypty == "")
        {

            <html>
            <head>
                <title>Reading Data from a File</title>
                <style>
                    .box1 {
                        background: #f0f0f0; /* Цвет фона */
                        width: 1140px; /* Ширина блока */
                        padding: 10px; /* Поля */
                        border: 2px solid #000; /* Параметры рамки */
                    }
                </style>
            </head>
            <body>
                <div>

                    @crypty
                    @if (crypty == "")
                    {
                        <h4>------------------------------------------------------------------------------------------------------------</h4>
                        <details>
                            <summary>Текст в зашифрованном виде: </summary>
                            <div class="box1">

                                @qwert_out

                            </div>
                        </details>
                    }

                </div>
            </body>
        </html>

    }

}
else
{

}

}

@using (Html.BeginForm("DeDownloadword", "Home"))
{
    if (crypty == "" & isReady == 2)
    {
        <h4>Файл забрать ниже ↓</h4>
        <input type="submit" value="Скачать" />
    }
    else
    {

    }

}

