@{
    ViewBag.Title = "DeUpload";
}
<h3>Выберите файл для загрузки</h3>
@using (Html.BeginForm("DeUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="deupload" />
    <br>
    <input type="submit" value="Загрузить" />
}


